In [210]:
import pandas as pd
import regex as re

In [211]:
df = pd.read_csv('sample_data.csv')

columns_email_mobile = ['email1', 'email2', 'email3', 'mobile1', 'email4', 'mobile2',
       'mobile3', 'mobile4', 'mobile5', 'mobile6', 'email5',
       'toll_free_num _1', 'toll_free_num _2', 'toll_free_num _5',
       'toll_free_num _4', 'home_address_1', 'home_address_2',
       'toll_free_num _3', 'landline_1', 'landline_2', 'landline_3',
       'landline_4', 'landline_5', 'landline_6', 'landline_7']
columns_home_office = ['home_address_1', 'home_address_2',
       'toll_free_num _3', 'home_address_5', 'office_address_1',
       'home_address_3', 'office_address_5', 'office_address_4',
       'home_address_4', 'office_address_3', 'office_address_3.1']
columns_warehouse = ['warehouse_address_1', 'warehouse_address_2', 'warehouse_address_5',
       'warehouse_address_3', 'warehouse_address_4']

In [212]:
def check_email_phone(email):
    email = str(email)
    email = email.strip()
    find_email = re.findall(r'([\w\_\-\.\+]*@[\w]*.[\w]*)', email)
    if(len(find_email) > 0):
        if find_email[0] == email:
#             print(email)
            return email
        else:
            return ''
    else:
        phone = email.replace(' ', '').replace('-', '')
        if (phone[:3] == '+91' or phone[:3] == '091') and len(phone) == 13:
#             print(phone)
            return phone
        elif (phone[:2] == '98' and len(phone) == 10) or (phone[:3] == '098' and len(phone) == 11):
#             print(phone)
            return phone
        else:        
            return ''

In [213]:
def check_address(address):
    address = str(address)
    address1 = address.replace(',', ' ').replace('-', ' ')
    address_arr = address1.split()
    
    number_of_words = 0
    for i in address_arr:
        if len(re.findall(r'[a-z, A-Z]', i)) > 1:
            number_of_words += 1
    
    if len(address_arr) > 0:
        if len(re.findall(r'[0-9]{6}', address_arr[-1])) == 1 and number_of_words > 3:
#             print(address)
            return address
        else:
            return ''
    else:
        return ''

In [215]:
for column in columns_email_mobile:
    df[column] = df[column].apply(check_email_phone)
for column in columns_home_office:
    df[column] = df[column].apply(check_address)
for column in columns_warehouse:
    df[column] = df[column].apply(check_address)

df_new = pd.DataFrame(df['id'])

df_new['email_mobile'] = ''
df_new['home_office'] = ''
df_new['warehouse'] = ''

for column in columns_email_mobile:
    df_new['email_mobile'] += df[column]
for column in columns_home_office:
    df_new['home_office'] += df[column]
for column in columns_warehouse:
    df_new['warehouse'] += df[column]
    
df_new['email_mobile'] = df_new['email_mobile'].apply(lambda x: 1 if len(x) > 3 else 0)
df_new['home_office'] = df_new['home_office'].apply(lambda x: 1 if len(x) > 3 else 0)
df_new['warehouse'] = df_new['warehouse'].apply(lambda x: 1 if len(x) > 3 else 0)

In [217]:
df_new.head()

   id  email_mobile  home_office  warehouse
0   1             0            1          0
1   2             0            0          0
2   3             0            0          0
3   4             0            0          0
4   5             1            0          0

In [220]:
df_new.to_csv('result.csv', index=False)